//-
	- Meta tags
	- Change meta description
	- Change author name (If required)
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=7")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description" content="مشروع ريادي يقدم قصص متعددة المسارات وقصص حضارية بشكل إبداعي.")
meta(name="author" content="Mahmoud El Helou")
