mixin storySection(storySectionObj)
	section.stories-section.py-5
		.container
			h2.section-title.section-title--smaller.section-title--right.mb-4= storySectionObj.title
			.row
				.col-md-3
					.stories-section__container
						.stories-section__item
							.stories-section__item-save
								span حفظ
								i.far.fa-bookmark
							a(href="#")
								img(src="images/play-btn-orange.png")
						.stories-section__item-info
							.stories-section__item-title-rating
								span.title قصة شجرة الدر
								span.rating 4.0
									i.fas.fa-star
							.stories-section__item-views
								span 100 مشاهدة
				.col-md-3
					.stories-section__container
						.stories-section__item
							.stories-section__item-save
								span حفظ
								i.far.fa-bookmark
							a(href="#")
								img(src="images/play-btn-orange.png")
						.stories-section__item-info
							.stories-section__item-title-rating
								span.title قصة شجرة الدر
								span.rating 4.0
									i.fas.fa-star
							.stories-section__item-views
								span 100 مشاهدة
				.col-md-3
					.stories-section__container
						.stories-section__item
							.stories-section__item-save
								span حفظ
								i.far.fa-bookmark
							a(href="#")
								img(src="images/play-btn-orange.png")
						.stories-section__item-info
							.stories-section__item-title-rating
								span.title قصة شجرة الدر
								span.rating 4.0
									i.fas.fa-star
							.stories-section__item-views
								span 100 مشاهدة
				.col-md-3
					.stories-section__container
						.stories-section__item
							.stories-section__item-save
								span حفظ
								i.far.fa-bookmark
							a(href="#")
								img(src="images/play-btn-orange.png")
						.stories-section__item-info
							.stories-section__item-title-rating
								span.title قصة شجرة الدر
								span.rating 4.0
									i.fas.fa-star
							.stories-section__item-views
								span 100 مشاهدة
