/**
 - #F4775C
 - #569EDD
 - #FFDD14
 - #707070
 - #c9e8c4
 - #ffe7dd
 - #121212
 - #363636
 - #4e4e4e
 - #707070
 - #aaaaaa;
 */

// Colors
$mainGreen: #636e72;
$mainLightGreen: #c9e8c4;
$mainLighterGreen: - #ffe7dd;
$mainOrange: #F4775C;
