//-
	- Main navbar
// Side navbar
nav.side-navbar
	ul.side-navbar__options
		li.side-navbar__options-item(class=activePage == 'profileHome' ? 'active' : '')
			a(href='profile-home.html') الصفحة الشخصية
		li.side-navbar__options-item(class=activePage == 'profileMyLibrary' ? 'active' : '')
			a(href='profile-library.html') مكتبتي
		li.side-navbar__options-item(class=activePage == 'profileSavedVideos' ? 'active' : '')
			a(href='profile-videos.html') الفيديوهات المحفوظة
		li.side-navbar__options-item(class=activePage == 'profileLogout' ? 'active' : '')
			a(href='profile-logout.html') تسجيل الخروج
// side-navbar-end
