include ../mixins/_story-section-mixin
// Most viewed stories
+storySection({title: 'القصص الأكثر مشاهدة'})
// most-viewed-stories-end
|
|
// Other stories
+storySection({title: 'باقي القصص'})
// other-stories-end
