.page-banner {
	height: 25vh;

	// @include responsive(atLarge) {
	// 	height: 45vh;
	// }

	&__content {
		width: 85%;
		height: 100%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	&__title {
		text-align: center;
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
		font-weight: bold;

		// @include responsive(atSmall) {
		// 	font-size: 2rem;
		// 	line-height: 1.5;
		// }
	}
}
