.paymentSection .card .card-header h2{
    font-size: 16px;
    text-align: center;

}
.paymentSection .card .card-header{
    background-color: #C9E8C4;

}
.paymentSection .card .card-body h5{
    font-size: 20px;
    font-weight: bolder;
    text-align: right;

}
.paymentSection .card .card-body p{
    font-size: 16px;
    text-align: right;
    

}
.paymentSection .card-payment .card{
    background-color: #d4d5d6;
    padding: 20px;
    margin-top: 20px;
}
.paymentSection .card-payment .card p{
    font-size: 12px;
    text-align: right;
 
}
.paymentSection .card-payment .card h4{
    font-size: 16px;
    text-align: right;
 
}
.paymentSection a.btn{
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
 
}
h3.listeNow{
    font-size: 16px;
    text-align: center;

}
.paymentSection span{
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}