.paymentSection .card .card-header h2{
    font-size: 16px;
    text-align: center;

}
.paymentSection .card .card-header{
    background-color: #C9E8C4;

}
.paymentSection .card .card-body h5{
    font-size: 20px;
    font-weight: bolder;
    text-align: right;

}
.paymentSection .card .card-body p{
    font-size: 16px;
    text-align: right;
    

}
.paymentSection .card-payment .card{
    background-color: #d4d5d6;
    padding: 20px;
    margin-top: 20px;
}
.paymentSection .card-payment .card p{
    font-size: 12px;
    text-align: right;
 
}
.paymentSection .card-payment .card h4{
    font-size: 16px;
    text-align: right;
 
}
.paymentSection .card-payment .card label{
    font-size: 12px;
    text-align: right;
    color:#000;
 
}
.paymentSection a.btn{
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
 
}
h3.listeNow{
    font-size: 16px;
    text-align: center;

}
.paymentSection h6.pay{
    font-size: 16px;
    text-align: center;

}
.paymentSection .card .card-body .p{
    font-size: 12px;
}


.paymentSection .form-group input{
    padding: 8px 15px;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    border:1px solid green;
    position: relative;
    padding-right: 50px;

}
.paymentSection input:hover{
    outline:none;
    border:1px solid #f4775c;
    color:#000000;
}
.paymentSection input:focus{
 text-decoration: none;
background: #fff;
color: #f4775c;
border:1px solid #f4775c;
outline: none;
}
.paymentSection input:active{
    text-decoration: none;
   background: #fff;
   color: #f4775c;
   border:1px solid #f4775c;
   outline: none;
   }


.paymentSection.btn {
    background: linear-gradient(to right, #f4775c , #f1512d);
    border-radius: 10px;
    color:#ffffff;
    margin-top: 60px;
    height: 50px;
}
.paymentSection .btn:hover{
   
    color:green;
    background: #ffffff;
    border: 1px solid #f4775c;

}
.form-group span{
    position: absolute;
    top:228px;
    right:40px;
    color:#AAAAAA;
}


/**/
