.ProfilePage {
    margin-top: 140px;
}
.ProfilePage .row .card{
  background: red;  
    
}
.ProfilePage  .row .card{
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    background-color: #C9E8C4;
    padding:5px;
    text-align: right;
    height: 400px;
    width: 95%;
  }
  .ProfilePage  .row .card .list-group li{
    background-color: #C9E8C4;
  }
  .ProfilePage  .row .card .list-group-item {
 
    margin-bottom: 0px;
    border:0px;
  }

  .ProfilePage  .row .card li a{
    font-size: 14px;
    color:#000;
  }
  .ProfilePage  .row .card li a:hover{
    text-decoration: none;
    color:#e33b3a;
  }
  .ProfilePage  .row .card li a.active{
    color:#e33b3a;
    text-decoration: none;
  }
  .ProfilePage  .card h5{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
  }

  .ProfilePage  .profileUser {
      display: flex;
      margin: 0 auto;
      width: 50%;
      text-align: center;
  }
  .ProfilePage  .profileUser  img{  
      width:150px;
      height: 150px;
      margin: 0 auto;
      object-fit: contain;

}
.ProfilePage .infoUser{
    text-align: center;
    color: #000;;
}
.ProfilePage .infoUser h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.ProfilePage .infoUser h3{
    text-align: center;
    font-size: 16px;
}
.ProfilePage .infoUser h4{
    text-align: center;
    font-size: 16px;
}
.ProfilePage .infoUser p{
    text-align: center;
    font-size: 12px;
}
.ProfilePage .editprofileUser{
    text-align: center;
}
.ProfilePage .editprofileUser a{
    text-decoration: underline;
    font-size: 16px;
}
.ProfilePage .stories-section__item {
    height: 200px;
    background: #FFE7DD;
    position: relative;
    width: 100%;
}